/*https://www.figma.com/file/Or7LEsC7aQ3g7a3Au14N90/Michael'sShowcaseTemplate?node-id=0%3A1*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --cta-green: #6AB27D;
    --cta-green-dim: #50976C;
    --offwhite: #f3f3f3;
    --offblack: #242424;

    --cppc: aquamarine;
    --csc: coral;
    --htmlc: forestgreen;
    --jsc: darkorchid;
    --cssc: firebrick;
    --pc: springgreen;
    --vbc: wheat;
    --unityc: khaki;
    --p5jsc: violet;
    --nodec: darkviolet;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--offwhite);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

section {
    padding: 1em 1em
}

/*Navigation Menu*/
.top-bar {
    background-color: var(--cta-green);
    color: var(--offwhite);
    padding: 0 1em;
    font-size: 1.5rem;
    position: fixed;
    width: 100vw;
}

.top-bar>div {
    display: flex;
    place-content: space-between;
}

.left-side {
    display: flex;
}

.title-logo {
    padding: 0 1em 0 0;
    margin: 0;
    align-content: center;
}

nav {
    margin: 0;
    place-content: left;
}

nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items:stretch;
}

nav>ul>li{
    padding: 1em;
    display: inline;
    align-self: left;
}

.top-bar>div>a{
    color: var(--secondary-background);
    margin: 1em;
}

.current-tab {
    background-color: var(--cta-green-dim);
    font-weight: bold;
}

/*Hero menu*/
.hero {
    background-color: var(--secondary-background);
    align-items: center;
    font-size: 2rem;
    padding-top: 3em;
}

.top-hero {
    display: flex;
    place-content: space-evenly;
}

.major-title {
    font-size: 7rem;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
}

.my-photo {
    /*height: 200px;
    width: 300px;
    */object-fit: cover;
    overflow: hidden;
    object-position: 10% 20%;
    border-radius: 1em;
    max-height: 300px;
}

.hero>div>p {
    line-height: 1em;
}

/*Skills menu*/
.skills {
    background-color: var(--offblack);
    color: var(--offwhite);
    font-size: 1.5rem;
}

.skills>div>h2 {
    text-align: center;
    font-size: 3rem;
}

.skills>div>div {
    display: flex;
    place-content: center;
}

.left-column {
    display: block;
}

.skills>div>div {
    margin: 0 2em;
}

.pie-chart2 {
    margin-top: 0;
    display: block;
    /*position: absolute;*/
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--cppc) 0deg 140deg,
        var(--csc) 140deg 230deg,
        var(--htmlc) 230deg 280deg,
        var(--jsc) 280deg 300deg,
        var(--cssc) 300deg 330deg,
        var(--pc) 330deg 350deg,
        var(--vbc) 350deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-chart1 {
    margin-top: 0;
    display: block;
    /*position: absolute;*/
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--unityc) 0deg 280deg,
        var(--nodec) 280deg 330deg,
        var(--p5jsc) 330deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Pie graph colors*/
.cpp {
    color: var(--cppc);
}
.cs {
    color: var(--csc);
}
.html {
    color: var(--htmlc);
}
.js {
    color: var(--jsc);
}
.css {
    color: var(--cssc);
}
.python {
    color: var(--pc);
}
.vb {
    color: var(--vbc);
}
.unity {
    color: var(--unityc);
}
.p5js {
    color: var(--p5jsc);
}
.nodejs {
    color: var(--nodec);
}

/*Projects*/
.projects {
    background-color: var(--offwhite);
}

.projects>div{
    display: flex;
}

.projects>div>a {
    display: inline-block;
    align-self: center;
    padding: 1em;
    width: 10%;
}

.arrow {
    width: 70%;
    stroke: var(--cta-green);
    overflow: visible;
}

.arrow>g {
    width: max-content;
}

.arrow>g>path {
    fill: var(--cta-green);
}



.card {
    background-color: var(--offblack);
    color: var(--offwhite);
    border-radius: 5em;
    width: 80%;
    padding: 1em 1em 2em 1em;
    text-align: center;
    align-items: center;
}

.card>h3 {
    font-size: 3rem;
    margin: 0;
}

.card>img {
    margin: 1em auto;
    width: 80%;
}

.card>p {
    font-size: 2rem;
}

.card>a {
    background-color: var(--cta-green-dim);
    padding: 1em 2.5em;
    border-radius: 5em;
    font-weight: bold;
    color: var(--offwhite);
    margin-bottom: 3em;
    font-size: 1.5rem;
}

/*Contact*/
.contact {
    background-color: var(--offblack);
    color: var(--offwhite);
}

.contact>div>h2 {
    font-size: 2rem;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-around;
}

.contact-info>div {
    display: block;
    font-size: 1.5rem;
}

.contact-forum {
    margin-bottom: .5em;
}

.contact-forum>textarea{
    resize: none;
}

.submit-button{
    background-color: var(--cta-green-dim);
    padding: 1em 2.5em;
    border-radius: 5em;
    font-weight: bold;
    color: var(--offwhite);
    font-size: 1.2rem;
}

.right-column>p>a {
    color: var(--cta-green);
}

/*Footer*/
footer {
    background-color: var(--offblack);
    color: var(--offwhite);
    text-align: center;
    padding: 3em 0 1em 0;
}

@media only screen and (min-width: 1200px)  {
    .content-constrictor {
        width: 1200px;
        margin: 0 auto;
    }
}